body{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
    background-color: #E5E5E5;
}

/* Header top bar */

.top-bar{
width: 100%;
height: 94px;
left: 0px;
top: 0px;
background: #562EFF;
}
.container{
    width: 870px;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.main-menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.main-menu ul li{
    list-style: none;
    margin: 0 1em;
}
.main-menu ul li a,.logo-wrapper h4{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
text-decoration: none;
transition: color 1s ease;
}
.main-menu ul li a:hover{
    color: grey;
}
.logo-wrapper{
    display: flex;
    align-items: center;
}
.logo-wrapper img{
    width: 40px;
    max-height: 52px;
    padding-right: 10px;
}

/* Start Top Player Section */
.sec-gap{
    margin:36px 0;
}
.sec-white-area{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 33px;
}
.title{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height */
color: #562EFF;
}
.player-infoarea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.player img{
width: 56px;
height: 56px;
padding: 20px;
}
.divider{
    border: 1px solid #D1D1D1;
}
.blog-infoarea{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blogpostitem{
    display: flex;
}
.blogpostitem img{
width: 177px;
height: 117px;
padding: 14px;
}
.post-title{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 34px;
color: #000000;
}
.autohor-info{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #9F9F9F;
}
.autohor-info a{
    color: #562EFF; 
    text-decoration: none; 
}
/* Course Section */
.course-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
}
.course-item{
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    padding: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.course-item img{
width: 224px;
height: 104px;
}
.info{
    padding-left: 11px;
}
.course-title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20.0336px;
line-height: 23px;
color: #1E1E1E;
}
.auhtor a{
    text-decoration: none;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14.6913px;
line-height: 17px;
color: #ED6B4F;
}
.meta-data {
    display: flex;
    justify-content: space-between;
}
.rating {
    display: flex;
    align-items: center;
}
.list{
    display: flex;
    align-items: center;
}
.list img{
    width:12.39px;
height:11.81px;
}
.starcount {
    padding-left: 10px;
}
.course-length{
    background: #FFE4E8;
border-radius: 14.6913px;
padding:0 5px;
}
.timewr{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14.6913px;
line-height: 20px;
color: #FF4A60;
}